.loading {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.spinner {
    padding: 10px;
    border: 10px solid rgb(0, 92, 169);
    border-top: 10px solid orange;
    border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: spii infinite 1s linear;
    }
}

@keyframes spii {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}